<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .footer {
        background-color: #4caf50;
        color: #ffd700;
        padding: 1rem 0;
        position: relative;
      }

      .footer .container {
        max-width: 1200px;
        margin: 0 auto;
      }
    </style>
  </head>
  <body>
    <footer class="footer text-center">
      <div class="container">Meal App. Made By BintangRF. © 2024</div>
    </footer>
  </body>
</html>
